/* *{ */
  /* padding: 0; */
  /* margin: 0; */
  /* box-sizing: border-box; */
/* } */
/* body{ */
  /* width: 100%; */
/* } */
/* #root{ */
  /* height: 50000px; */
  /* padding: 16px 32px; */
  /* height: 100%; */
  /* color: blue; */
  /* width: 100%; */
  /* background: rgb(14, 14, 14); */
/* } */
/* #main{ */
  /* height: auto ; */
  /* display: flex; */
  /* flex-direction: column; */
  /* column-gap: 20px; */
  /* justify-content: space-around; */
/* } */
/* @media screen and (max-width:480px){ */
  /* #mmm{ */
   /* height: 360px; */
   /* width: 100%; */
   /* align-self: center; */
   /* background-color: rgba(31, 31, 31, 1); */
   /* border-radius: 16px; */
  /*  */
  /* } */
  /* #main{ */
    /* width: 100%; */
  /* } */
  /* #root{ */
    /* padding: 16px; */
    /* height: auto; */
  /* } */
/* } */
/* @media screen and (max-width:396px) { */
  /* #mmm{ */
    /* height: 300px; */
  /* } */
/* } */
/* @media screen and (max-width:430px) { */
  *{
    /* width: 430px ; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    /* background: #000; */
  }
  body{
    background-color: #000000;
  }
/* } */
